<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
	<!-- Bootstrap CSS -->
	<link th:href="@{/bootstrap/bootstrap.min.css}"  rel="stylesheet" type="text/css" />
    <!-- fontawesome -->
    <link th:href="@{/fontawesome/css/all.css}" rel="stylesheet" type="text/css" />
    <!-- custom css -->
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
	<title>Crear entrada</title>
</head>
<body>
	<header th:insert="fragments.html :: nav"></header>
	<div class="card m-5 mx-auto " style="max-width: 80%">
	<a th:href="@{/entrada}" style="text-decoration: none"><button class="btn btn-danger btn-block btn-lg">Cancelar</button></a>
		<div class="card-header d-flex justify-content-between">
			<h4>
				<i class="fa fa-save"></i> Nueva Entrada
			</h4>
			<!-- <span class="input-group-text bg-success text-white" id="entregado">Entregado</span>
			<span class="input-group-text bg-danger text-white" id="entregado">No entregado</span> -->
		</div>
		<div class="card-body p-4">
			<form action="/entrada/crear" th:object="${entrada}" method="post">
				<!-- protección csrf -->
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <!-- fin csrf -->
				<div class="form-row">
					<div class="form-group col-md-2 text-center">
						<label for="numeroEntrada"># Entrada</label> <input type="number"
							class="form-control text-center" id="numeroEntrada" th:field="*{numeroEntrada}">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('numeroEntrada')}" th:errors="*{numeroEntrada}"></small>
                        	<small class="form-text text-danger" th:if="${error}" th:text="${error}"></small>
					</div>
					<div class="form-group col-md-3">
						<label for="clienteName">Cliente</label> <input type="text"
							class="form-control" id="clienteName" th:field="*{cliente}">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('cliente')}" th:errors="*{cliente}"></small>
					</div>
					<div class="form-group col-md-2">
						<label for="cedula">Cédula o NIT</label> <input type="number"
							class="form-control" id="cedula" th:field="*{cedula}">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('cedula')}" th:errors="*{cedula}"></small>
					</div>
					<div class="form-group col-md-2">
						<label for="celular">TEL/CEL</label> <input type="number"
							class="form-control" id="celular" th:field="*{celular}">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('celular')}" th:errors="*{celular}"></small>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group row">
						<label for="objeto" class="col-4 col-form-label text-right">Objeto:
						</label>
						<div class="col-sm">
							<input type="text" class="form-control" id="objeto" th:field="*{objeto}">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('objeto')}" th:errors="*{objeto}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label for="marca" class="col-4 col-form-label text-right">Marca:
						</label>
						<div class="col-sm">
							<input type="text" class="form-control" id="marca" th:field="*{marca}">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('marca')}" th:errors="*{marca}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label for="modelo" class="col-4 col-form-label text-right">Modelo:
						</label>
						<div class="col-sm">
							<input type="text" class="form-control" id="modelo" th:field="*{modelo}">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('modelo')}" th:errors="*{modelo}"></small>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="form-group">
						<label for="observacion">Observación</label>
						<textarea class="form-control" id="Observación" rows="5" th:field="*{observacion}"></textarea>
						<small class="form-text text-danger" th:if="${#fields.hasErrors('observacion')}" th:errors="*{observacion}"></small>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-auto">
						<label class="mr-sm-2" for="estado">Estado</label> <select
							class="custom-select mr-sm-2" id="estado" th:field="*{estado}">
							<option value="por definir" selected>Por definir</option>
							<option value="en revision">En revisión</option>
							<option value="no tiene arreglo">No tiene arreglo</option>
							<option value="esperando respuesta">Esperando respuesta</option>
							<option value="listo">Listo</option>
						</select>
						<!--   <select class="custom-select mr-sm-2" >
							<option value="0" th:selected="${entrada.estado=='0'}">Por definir</option>
							<option value="1" th:selected="${entrada.estado=='1'}">En revisión</option>
							<option value="2" th:selected="${entrada.estado=='2'}">No tiene arreglo</option>
							<option value="3" th:selected="${entrada.estado=='3'}">Esperando respuesta</option>
							<option value="4" th:selected="${entrada.estado=='4'}">Listo</option>
						</select>-->
					</div>
					<div class="form-group col-auto">
						<label for="tecnico">Encargado</label> <select
							class="custom-select mr-sm-2" id="tecnico" th:field="*{tecnico}">
							<option value="por definir" selected>Por definir</option>
							<option value="edgar">Edgar Esquivel</option>
							<option value="karen">Karen Esquivel</option>
							<option value="karol">Karol Esquivel</option>
							<option value="jesus">Jesús Granada</option>
						</select>
					</div>
					<div class="form-group col-md-2 text-center">
						<label for="abono">Abono</label> <input type="number"
							class="form-control text-center" id="abono" value="0" th:field="*{abono}">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('abono')}" th:errors="*{abono}"></small>
					</div>
					<div class="form-group col-md-2 text-center">
						<label for="total">Total</label> <input type="number"
							class="form-control text-center" id="total" value="0" th:field="*{total}">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('total')}" th:errors="*{total}"></small>
					</div>
					<div class="form-group col-md-2 text-center">
						<label for="entregado">Entregado</label> 
						<select class="custom-select mr-sm-2" id="entregado" th:field="*{entregado}">
							<option value="no" selected>No</option>
							<option value="si">Si</option>
						</select>
					</div>

				</div>
				<button type="submit" class="btn btn-outline-primary btn-lg btn-block">Crear</button>
			</form>
		</div>

	</div>
<footer th:insert="fragments.html::footer"></footer>
</body>
</html>